* {
  font-family: "Work Sans", sans-serif;
}

/* header style */
.header {
  background-image: url(/Assignment/images/banner/banner2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: right;
}
.header-details {
  align-items: center;
  margin: 0 150px;
}
.header-title {
  padding: 200px 0px 0px 500px;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  
}
.header-description {
  padding-left: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  
}
.btn-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 10px 25px;
  height: 60px;
  border-radius: 5px;
  background-color: #fd6e0a;

  width: 160px;
  height: 55px;
  left: 1210px;
  top: 587px;
}
